html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    box-sizing: border-box;
    background-image: url('/images/actionvance-n-2_KHgeAy0-unsplash.jpg');
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}
h1 {
    text-align: center;
    margin-top: 200px;
    font-family: 'Caveat', cursive;
    font-size: 300%;
}
.content{
    font-size: 200%;
    font-family: 'Lato', sans-serif;

}
.heroes{
    margin: 30px;
    position: relative;
    padding: 30px;
    border-radius: 70px;
    background: white;
    width: 400px;
    color: black;
}

.noHero {
    border-radius: 70px;
    background: white;
    margin-top: 200px;
    margin-left: 60px;
    margin-right: 60px;
    width: 400px;
    padding: 50px;
    color:black;
}

