{{> layout.hbs}}
    <h1>Welcome to Heroes Universe!</h1>
    <p>Have you ever wanted to recruit a custom well-balanced team of superheroes/characters? Well Heroes' universe will
        allow you to dive into your fictional world of superheroes, super villains and aliens. Get Creative!
        You can create a hero with descriptions like name, age, power and add them to a squad based on cause.</p>
    <p>To get started: </p>
    <ol>
        <li>Create your hero</li>
        <li>Add them to your Squad</li>
        <li>View all your heroes <a href="/heroes">here</a></li>
    </ol>